<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Clinica Darmas</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bulma.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/tabs.css') }}" />
    {% endblock %}
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="{{ url_for('static', filename='img/logo-darmas.png') }}" alt="Clinica Darmas">
            </a>
            
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start is-link">
                <a class="navbar-item has-text-white" href="{{ url_for('core.index') }}">
                    Inicio
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-white" href="#">
                        Ações
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="{{ url_for('core.consulta') }}">
                            Consulta
                        </a>
                        <a class="navbar-item is-active" href="{{ url_for('core.paciente') }}">
                            Paciente
                        </a>
                        <a class="navbar-item" href="{{ url_for('core.profissional') }}">
                            Profissional
                        </a>
                        <a class="navbar-item" href="https://darmas-web.github.io/doc/">
                            Ajuda
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <p class="navbar-item has-text-white">
                        Nome Funcionário [Perfil]
                </p>
                <div class="navbar-item">
                    
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="navbar-item has-text-white"  href="#">
                                <span>
                                    Sair
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-white">
                    Clinica Darmas
                </h1>
                <h2 class="subtitle has-text-white">
                    Sistema de gestão
                </h2>
            </div>
        </div>
    </section>
    {% block scripts %}
        <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
        <script src="{{ url_for('static', filename='js/lib/riot+compiler.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/zepto.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/bulma.js') }}"></script>
    {% endblock %}
    {% block content %}
        {% block app_content %}{% endblock %}
    {% endblock %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy Clinica Fácil v-1.0.0</p>
            <p>Desenvolvido por <a href="https://gomes-fdr.github.io/" target="_blank">Fargos Sistemas e Automação</a></p>
        </div>
    </footer>
</body>
</html>
