{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script type="riot/tag" src="{{ url_for('static', filename='js/tags/todo.tag') }}"></script>
{% endblock %}

{% block app_content %}
<div class="container">
    <todo></todo>
    <script>
        riot.mount('todo', {
            title: 'I want to behave!',
            items: [
            { title: 'Avoid excessive caffeine', done: true },
            { title: 'Hidden item',  hidden: true },
            { title: 'Be less provocative'  },
            { title: 'Be nice to people' }
            ]
        })
    </script>
</div>
{% endblock %}
