{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script type="riot/tag" src="{{ url_for('static', filename='js/tags/c-form-paciente.tag') }}"></script>
<script type="riot/tag" src="{{ url_for('static', filename='js/tags/c-tab.tag') }}"></script>
{% endblock %}

{% block app_content %}

<div class="container">
    <br>
    <c-tab></c-tab>
    <br>
</div>

<script>
    riot.mount('c-tab', {
        tabs: [
            {id: 0, title: 'Dados'},
            {id: 1, title: 'Convênios'},
            {id: 2, title: 'Prontuário'},
            {id: 3, title: 'Documentos'}
        ]
    })
</script>
{% endblock %}